

/*Litir:
navy: #001f3f
light-blue: #2fa2d9;
*/


body
{
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

h2
{
   color:#2fa2d9;
   text-decoration: italic;
}
.member_login
{
   float: top;
   background-color: #001f3f;
   padding:4px 1px 4px 1px;
   inline-box-align: initial;

}
tbody
{
    /*color:red;
   font-size: 24pt;*/
   max-width: 800px;
   float:left;

}
th
{
   color:#2fa2d9;
   font-size: 18pt;
   padding-right:15px;
   border-bottom: 1pt solid;
   
   
}
td,tr
{
   color:black;
   font-size:14pt;
   max-width:80px;
   word-wrap: break-word; 

}

label
{
   color: #2fa2d9;
}

input
{
   color: #2fa2d9;
}
h1
{
	text-align: middle;

}
select option
{
   color:red;
}
img
{
	height:250px;
	width: 400px;
	text-align: center;
}
.makejob
{
   width:80px;
   height:40px;
   float:right

}


.wrap {
	width: 483px;
	text-align: center;
	margin: 50px auto;
}
.container
{
   width:200px;
   height:400px;
   float:right;
   padding-right: 25px;
   display: none;
}
.container input label
{
   width:200px;
   height:400px;
   float:right;
   padding-right:25px;
  
}

.employees {
   width: 880px;
}

.employee {
   width: 200px;
   text-align: left;
   margin: 0 10px 40px;
   float: left;
}

.employee p {
   line-height: 5px;
   font-size: 14px;
}

.employee .title {
   font-style: italic;
}

.employee .name {
   font-size: 16px;
   font-weight: bold;
}

.employee img {
   width: 200px;
}